#   Server Configurations
SERVER_HOST = localhost
SERVER_PORT = 3000

#   Client Configurations
CLIENT_HOST = localhost
CLIENT_PORTS = 5173 4173

#   Login Configurations
ACCESS_TOKEN_SECRET = access_secret
REFRESH_TOKEN_SECRET = refresh_secret

#   MySQL Database Configurations
DB_HOST = localhost
DB_PORT = 3306
DB_USER = root #Change to your MySQL database username
DB_PASSWORD = password #Change to your MySQL database password
DB_DATABASE = database #Change to your database schema name

#   Redis Configurations
REDIS_PORT = 6379
CACHE_INVALIDATE = 3600 #Time before cache is invalidated in seconds

#   Schema layout (NN - not null, PK - primary key, FK - foreign key, AI - auto increment, UK - unique key)

#   Table: friends
#   Columns:
#       sender bigint NN PK FK references users(id) ON DELETE CASCADE
#       receiver bigint NN PK FK references users(id) ON DELETE CASCADE
#       state varchar(255) DEFAULT 'Pending'

#   Table: messages
#   Columns:
#       messageId int NN AI PK
#       threadId varchar(36) NN FK references threads(threadId) ON DELETE CASCADE
#       sender bigint NN FK references users(id) ON DELETE CASCADE
#       message varchar(2000) DEFAULT NULL
#       createdAt datetime NN

#   Table: subscriptions
#   Columns:
#       threadId varchar(36) NN PK FK references threads(threadId) ON DELETE CASCADE
#       threadName varchar(45) NN
#       uid bigint NN PK FK references users(id) ON DELETE CASCADE
#       threadIcon mediumblob

#   Table: threads
#   Columns:
#       threadId varchar(36) NN PK
#       createdAt datetime NN
#       owner bigint NN FK references users(id) ON DELETE CASCADE

#   Table: users
#   Columns:
#       id bigint NN AI PK
#       username varchar(255) NN UK
#       password varchar(255) NN
#       firstName varchar(255) NN
#       lastName varchar(255) NN
#       profilePicture mediumblob
#       backgroundImage mediumblob
#       description varchar(2000) DEFAULT NULL

#   Table: comments
#   Columns:
#       commentId bigint NN AI PK
#       postId bigint NN FK references posts(postId) ON DELETE CASCADE
#       userId bigint NN FK references users(id) ON DELETE CASCADE
#       comment varchar(2000) NN
#       createdAt datetime NN

#   Table: posts
#   Columns:
#       postId bigint NN AI PK
#       userId bigint NN FK references users(id) ON DELETE CASCADE
#       title varchar(50) NN
#       caption varchar(2000) NN
#       image mediumblob
#       createdAt datetime NN

#   Table: reactions
#   Columns:
#       contentType varchar(20) NN PK - CONTRAINT CHECK IN ("post", "message")
#       contentId bigint NN PK
#       userId bigint NN PK
#       reaction varchar(20) NN PK - CONTRAINT CHECK IN ("Like", "Love")
#       createdAt datetime NN